<div class="team-page">
    <h2 class="team-title">Nosso Time de Advogados</h2>
    
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="https://i.pinimg.com/736x/3e/2e/e6/3e2ee625b452b8d462385ce02015261f.jpg">
            </div>
            <div class="team-content">
              <h3 class="name">Michele Miller</h3>
              <h4 class="title">Advogada da Família</h4>
            </div>
            <ul class="social">
              <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="https://i.pinimg.com/736x/45/32/7e/45327eb4042bcdee56836affc5f9f2f2.jpg">
            </div>
            <div class="team-content">
              <h3 class="name">Patricia Knott</h3>
              <h4 class="title">Advogada de Trabalho</h4>
            </div>
            <ul class="social">
              <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="https://i.pinimg.com/236x/60/ef/6a/60ef6aa4abd9947a1d08d0b840e48d2e.jpg">
            </div>
            <div class="team-content">
              <h3 class="name">Luciana Ramos</h3>
              <h4 class="title">Advogada Criminalista</h4>
            </div>
            <ul class="social">
              <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="https://i.pinimg.com/474x/6a/80/c0/6a80c01d06ff53c0d0de80ab865e0d23.jpg">
            </div>
            <div class="team-content">
              <h3 class="name">Mary Huntley</h3>
              <h4 class="title">Advogada Tributária</h4>
            </div>
            <ul class="social">
              <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  